/* Sticky Footer Classes */

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

/* Other Classes for Page Styling */
#back-button {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-40%, -50%);
  border-radius: 50%;
}

#ready-button {
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translate(-60%, -50%);
  border-radius: 50%;
}

.icon-wrap {
  position: relative;
  width: 3em;
  height: 3em;
}

svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#page-content {
  background: #007bff;
  background: linear-gradient(to bottom right, #0062E6, #33AEFF);
}